<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="slide-image" src="http://placeholdit.sinaapp.com/800x300" alt="First slide">
    </div>
    <div class="item">
      <img class="slide-image" src="http://placeholdit.sinaapp.com/800x300" alt="Second slide">
    </div>
    <div class="item">
      <img class="slide-image" src="http://placeholdit.sinaapp.com/800x300" alt="Third slide">
    </div>
  </div>
  <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="glyphicon glyficon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="glyphicon glyficon-chevron-right"></span>
  </a>
</div>